@import "./modules";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap";

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ed4c78;
  --color-success: #00c9a7;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #8c98a4;
  --color-dark: #1e2022;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677788;
  --color-link: #377dff;
  --color-border: #e7eaf3;
  --color-cover-background: #f9fafc;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark-variant);
  background-color: var(--color-white);
}

#app {
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--color-dark);
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-dark);
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
  color: var(--color-dark);
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

label {
  color: #1e2022;
  margin-bottom: 0.5rem;
}

.text-muted {
  color: var(--color-info-dark) !important;
}

.primary {
  color: var(--color-primary) !important;
}

.danger {
  color: var(--color-danger) !important;
}

.success {
  color: var(--color-success) !important;
}

.warning {
  color: var(--color-warning) !important;
}

.g-btn {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;

  padding: 0.875rem 1rem;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5 !important;
  border-radius: 0.3125rem !important;
  transition: all 0.2s ease-in-out;
}

.link {
  text-decoration: none !important;
  color: var(--color-link) !important;

  &:hover {
    color: #0052ea !important;
  }
}
