@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap";
@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

.image {
  display: inline-block;
  width: 100%;
  object-fit: cover;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.g-btn {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;

  padding: 0.875rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 0.0625rem solid $border;
  border-radius: 0.3125rem !important;
  transition: all 0.2s ease-in-out;

  &:disabled {
    pointer-events: none;
  }
}

.small-btn {
  display: inline-block;
  position: relative;
  text-align: center;

  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  border: 0.0625rem solid $border;
  border-radius: 0.3125rem !important;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:disabled {
    color: $white !important;
    background-color: $disabled-color !important;
    border-color: $disabled-color !important;
    pointer-events: none;
  }
}

.primary-btn {
  color: $white;
  background-color: $user-primary;
  border-color: $user-primary;

  &:hover {
    color: $white;
    background-color: $pink;
    border-color: $pink;
    box-shadow: 0 4px 11px rgba($blue, 0.36);
  }

  &:disabled {
    color: $white;
    background-color: $disabled-color;
    border-color: $disabled-color;
    pointer-events: none;
  }
}

.icon-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;

  padding: 0;
  font-size: 0.92969rem;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $primary;
    background-color: rgba($primary, 0.1);
  }
}

.link {
  text-decoration: none !important;
  color: $blue-light !important;

  &:hover {
    color: $blue !important;
  }
}

.link-default {
  text-decoration: none !important;
  color: $black !important;

  &:hover {
    color: $blue !important;
  }
}

.icon {
  font-size: 1.2rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 98;
  display: none;
  float: left;
  min-width: 8.4375rem;
  padding: 1rem 0;
  margin: 0.625rem 0 0;
  font-size: 0.875rem;
  color: $dark-variant;
  text-align: left;
  list-style: none;
  background-color: $white;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;

  &.menu-show {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  &.menu-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.custom-card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: 0.0625rem solid $border;
  border-radius: 0.75rem;
  box-shadow: 0 0.375rem 0.75rem rgba(140, 152, 164, 0.075);
}
